<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--trac daily report url 例如地址为 https://trac.jichao.dev/wiki/dailyreport/alec.ji/20190131 只需要写入 https://trac.jichao.dev/wiki/dailyreport/ -->
    <add key="TracDailyReportUrl" value="https://trac.jichao.dev/wiki/dailyreport/"/>
    <!--要爬取日志的英文名,支持多个 用逗号（英文）隔开 例如 alec.ji,alex.li-->
    <add key="Names" value="alec.ji"/>
    <!--要爬取日志的开始日期 例如 2017-12-31 -->
    <add key="BeginDate" value="2018-11-18"/>
    <!--要爬取日志的开始日期 例如 2018-12-31 不填默认为当前日期 -->
    <add key="EndData" value="2019-01-18"/>
    <!--证书path,密码 例如：CertificatePath：D:\alec.ji@jichao.dev.p12 CertificatePassword：as2szlssas9olJktsyz -->
    <add key="CertificatePath" value="D:\alec.ji@jichao.dev.p12"/>
    <add key="CertificatePassword" value="as2szlssas9olJktsyz"/>
    <!--登录trac系统的用户名密码 例如：UserName:alec.ji UserPassword:123456-->
    <add key="UserName" value="alec.ji"/>
    <add key="UserPassword" value="123456"/>
  </appSettings>
</configuration>